@import url('../normalize.css');
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v19/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v24/-F62fjtqLzI2JPCgQBnw7HFYwQgM.otf) format('opentype');
}
.border-radius {
  border-radius: 6px;
}
body {
  font-family: Muli, sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  text-align: center;
}
h2,
h3 {
  margin: 5px;
}
nav {
  text-align: right;
  transform: translateY(-40px);
  padding-right: 10px;
}
nav a {
  color: white;
  padding: 10px;
  text-decoration: none;
}
nav a:hover {
  text-shadow: 2px 2px 8px black;
}
.logo {
  background-color: white;
  border-radius: 50%;
  display: block;
  margin: -90px auto 0;
  width: 100px;
}
.intro {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
.intro p {
  text-align: left;
}
.stepscontainer {
  max-width: 80%;
  margin: 0 auto;
}
.step1,
.step2 {
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.step1text {
  width: 30%;
}
.step1img,
.step2img {
  margin-right: 4%;
  text-align: right;
}
.step1img img,
.step2img img {
  width: 90%;
  height: auto;
  max-width: 360px;
  box-shadow: 2px 2px 8px black;
  border-radius: 6px;
}
.step2text {
  text-align: right;
  width: 30%;
}
.navbottom {
  text-align: center;
  display: flex;
  justify-content: center;
}
.navbottom a {
  font-size: 2.8rem;
  padding: 12px 24px;
  margin: 8px;
  text-decoration: none;
  background: linear-gradient(90deg, #88abc2 0%, #49708a 45%, #b5d6b2 100%);
  border-radius: 6px;
  color: white;
  display: block;
  transition: transform 0.4s;
  transform: translateY(0px);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.navbottom a:hover {
  transform: translateY(-4px);
  color: black;
}
footer {
  text-align: center;
}
.tomas {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 2px 2px 8px black;
}
.tomas .tomasText {
  width: 30%;
  margin: 20px;
}
.tomas img {
  width: 20%;
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.team div {
  width: 20%;
  margin: 20px 20px;
  box-shadow: 2px 2px 8px black;
  border-radius: 6px;
}
.team img {
  width: 60%;
  margin-top: 10px;
}
