@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muli/v19/7Aulp_0qiz-aVz7u3PJLcUMYOFnOkEk30e0.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans Japanese Regular'), local('NotoSansJapanese-Regular'), url(https://fonts.gstatic.com/s/notosansjp/v24/-F62fjtqLzI2JPCgQBnw7HFYwQgM.otf) format('opentype');
}
body {
  font-family: Muli, sans-serif;
}
img {
  max-width: 100%;
}
h1 {
  text-align: center;
}
.step1 {
  margin-top: 60px;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.step1img {
  width: 46%;
  margin-left: 4%;
}
.step1img img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}
.step2 {
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
.step2text {
  text-align: right;
}
.step2img {
  width: 46%;
  margin-left: 4%;
}
.step2img img {
  width: 90%;
  height: auto;
  border-radius: 5px;
}
