@import url('https://fonts.googleapis.com/css?family=Muli|Noto+Sans+JP&display=swap');

body {
    font-family: Muli, sans-serif;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
}

.step1 {
    margin-top: 60px;
    // border-top: 1px solid;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}

.step1img {
    width: 46%;
    margin-left: 4%;

    img {
        width: 90%;
        height: auto;
        border-radius: 5px;
    }
}

.step2 {
    // margin-top: 60px;
    // border-top: 1px solid;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}

.step2text {
    text-align: right;
}

.step2img {
    width: 46%;
    margin-left: 4%;

    img {
        width: 90%;
        height: auto;
        border-radius: 5px;
    }
}
